[submodule "json2isatab_docker"]
	path = json2isatab_docker
	url = https://github.com/phnmnl/json2isatab_docker.git
[submodule "isatab2json_docker"]
	path = isatab2json_docker
	url = https://github.com/phnmnl/isatab2json_docker.git
